/* Write your CSS here */
.planetImage {
  height: 250px;
  width: 350px;
}

.planet-container {
  font-family: 'Roboto';
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
