/* Write your CSS here */
.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  background-size: cover;
  padding: 40px;
}
.main-heading {
  font-family: 'Roboto';
  color: #05acff;
  text-align: center;
}
